/*-----------------INDEX-------------------*/

.body_index {
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
}

.logo_navbar {
    width: 100%;
}

.enlaces {
    color: black;
}

#espacio_titulo {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0%;
}

#imagen_color_header {
    height: 40px;
    width: 100%;
    background-image: url("Img/Imagen_nav.jpg");
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: solid 4px;
}

.btn_nav {
    width: 100%;
    height: 100%;
    background: none;
    font-family: 'Franklin Gothic Medium';
    font-size: 100%;
    border-style:none;
    margin-left: 5%;
    margin-right: 5%;
}

.btn_nav:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}

#nav_drawer {
    width: 18%;
    height: 15%;
    float: right;
    border-radius: 14px;
    background-image: url("Img/Formulario_Inicio_Sesion.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    padding-bottom: 3%;
}

.botones_registrate {
    margin: 0%;
    width: 50%;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium';
    padding: 2%;
    border-radius: 28px;
    background-color: rgb(124, 165, 241);
}

.botones_registrate:hover {
    background-color: rgb(162, 255, 182);
}

#quienes_somos {
    background-color: rgba(148, 148, 148,0.5);
    border-radius: 28px;
    width: 71%;
    height: 68%;
    position: absolute;
    text-align: center;
}

#texto_quienes_somos {
    width: 100%;
    height: 30%;
}

.espacio_ceos {
    display: flex;
    width: 100%;
    height: 71%;
    justify-content:center;
    align-items: center;
}

.espacio_individual {
    background-color: rgba(10, 13, 236, 0.4);
    width: 100%;
    height: 50%;
    border-radius: 20%;
    padding: 3%;
    margin: 0% 3% 0% 0%;
    text-align: center;
    align-items: center;
}

.foto {
    width: 100%;
    border-radius: 50%;
}

/*----------------REGISTRO-----------------*/

#form_registrarse {
    padding: 1%;
    width: 19%;
    height: 30%;
    border-radius: 28px;
    margin: 4% auto;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    background-image: url("Img/Fondo_Form_Registro.jpg");
    background-size: cover;
    position: relative;
}

.botones_registro {
    width: 50%;
    font-size: 50%;
    padding: 4%;
    font-size: 60%;
    border-radius: 28px;
    background-image:-webkit-linear-gradient(top, rgb(221, 236, 225), rgb(210, 240, 175));
}